.titulo {
	color: #0db26b;
}

.card {
	margin: 10px;
	background-color: whitesmoke;


}

.card-img-top {
	padding: 10px;
}

.card-title {
	font:normal normal normal 16px/1.4em raleway,sans-serif;
	color:black;
}

.card-img-top {


}
.card-img-top:hover {
	opacity: 0.35 ;
	transition: opacity 0.4s ;
}

.card-body {
	padding: 0;
}

.jumbotron {
	background-color: #72cba3;
}