body {
	font-family: 'Raleway', sans-serif;
}

.brain-title {
	color: #0db26b !important;
}

#second-title {
	margin-top: 40px;
	margin-bottom: 60px;
}

.img-nosotros {
	margin-bottom: 20px;
}

.descriptions {
	margin-bottom: 40px;
}

.solicitud {
	margin-top: 25px;
	margin-bottom: 40px;
}

.btn-neurofeedback {
	width: 100%;
	margin-bottom: 100px;
}

#gymnius1, #gymnius2 {
	font-size: 16px;
	color: #0db26b;
}

#gymnius1:hover	, #gymnius2:hover {
	text-decoration: none;
}

.text-justify {
	color: #605E5E;
}

.jumbotron {
	background-color: #72cba3;
	
	padding: 25px;
}