body {
	font-family: 'Raleway', sans-serif;
	background-color:  #f2f2f2;
	color: #7A7A7A;
}

h1	{
	margin-top: 13vh;
	color: #0DB26B;
}

h6 {
	margin-top: 1vh;
}

form {
	margin-top: 10vh;
}

.col-md-3 {
	display: inline-flex; !important;
}	

i {
	margin-top: 10px;
	margin-right: 10px; 
}

button {
	width: 12vw;
}

select {
	color: #7A7A7A;
	width: 15vw;
}

input {
	width: 14vw;
}

.phone {
	width: 16vw;
}


.btn-info {
	background-color: #00F0FE;
	border: none;
}

.underline {
  padding: 10px;
  border: none;
  border-bottom: solid 1px #c9c9c9;
  transition: border 0.3s;
  background-color:  #f2f2f2;
}
.underline:focus,
.underline.focus {
  border-bottom: solid 1px #969696;
  outline: none;
}