.container-fluid {
	
	padding: 0;
}

/* HEADER */
.titles  {
	font: normal normal normal 15px/1.4em raleway,sans-serif;
	color : #605E5E;
}


header {
	background-color: #f2f2f2;
	padding: 10px;
}

.number {
	color:#0db26b;
	font-size: 26px;
}

/* NAVBAR */
.navbar-light {
	background-color: white;
	padding: 0px;

}

li {
	margin-left: 35px;
	font-size: 18px;
}

}
/* JUMBOTRON */
.jumbotron {
	background-color: #72cba3;
	color: white;
	padding: 30px;
}

/* FOOTER */ 
footer {
	background-color: #0DB26B;
	padding: 2%;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
}

.telefono {
	font-size: 150%;
}

.contenedor-derecho {
	padding-top: 1%;
}

.facebook:hover {
	text-decoration: none;
	color: #F2F2F2;
}

.facebook {
	text-decoration: none;
	color: white;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-height: 68vh;
  position: relative;
}

.animate-left{
  position: relative;
  animation: animateleft 0.4s
}

@keyframes animateleft{
  from{ left:-300px; 
        opacity:0 } 
  to{ left:0 ;
      opacity:1}
}

.img-slide {
  width: 98.78vw;
  height: 100vh;
}

.boxes {
  background-color: rgba(11,145,87,.7);
  margin: 5px;
  padding: 10px;
  height: 175px;
}

body {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
}

.slides {
  background-color: rgb(242,242,242);
}

.solicitud-cita {
	padding: 20px;
	background-image: url('../img/bgSolicitudCita.png') !important;
	background-repeat: no-repeat !important;
	background-size: 100% 100% !important;
}

.btn-info {
	background-color: #41A2FE;
}

button {
	margin-top: 20px;
	width: 20vw;
	font-family: 'Raleway', sans-serif;
	color: white;
}

#solicitud-cita {
	margin-top: 10px;
}

.col-explanations {
	padding: 3% !important;
	color: #0DB26B;
}

.text-explanations {
	color: #605E5E;
}

.link-explanation {
	color: #0ECFE8;
}

.link-explanation:hover {
	text-decoration: none;
	color: #605E5E;
}

.title-explanations {
	color: white;
	background-color: #0DB26B; 
}

.explanations {
	margin-top: 40px;
}

.boletin {
	background-color:  #f2f2f2;
	color: #7A7A7A;
	padding: 10px;
}

.title-boletin {
	margin-top: 13vh;
	color: #0DB26B;
}

.subtitle-boletin {
	margin-top: 1vh;
}

form {
	margin-top: 10vh;
}

.display-boletin {
	display: inline-flex; !important;
}

.boletin-icon {
	margin-top: 10px;
	margin-right: 10px; 
}

.btn-boletin {
	width: 12vw;
	margin-top: 0px;
	margin-bottom: 80px;
}

select {
	color: #7A7A7A;
	width: 15vw;
	margin-bottom: 80px;
}

input {
	width: 14vw;
	margin-bottom: 80px;
}

.phone {
	width: 16vw;
}


.btn-info {
	background-color: #00F0FE;
	border: none;
}

.underline {
  padding: 10px;
  border: none;
  border-bottom: solid 1px #c9c9c9;
  transition: border 0.3s;
  background-color:  #f2f2f2;
}
.underline:focus,
.underline.focus {
  border-bottom: solid 1px #969696;
  outline: none;
}
