.col-md-4 {
	padding: 3% !important;
	color: #0DB26B;
}

body {
	font-family: 'Raleway', sans-serif;
}

p {
	color: #605E5E;
}

a {
	color: #0ECFE8;
}

a:hover {
	text-decoration: none;
	color: #605E5E;
}

h1 {
	color: white;
	background-color: #0DB26B; 
}