body {
	font-family: 'Raleway', sans-serif;
}

.brian-title {
	color: #0DB26B;
}

#second-title {
	margin-top: 40px;
	margin-bottom: 60px;
}

.img-nosotros {
	margin-bottom: 20px;
}

.descriptions {
	margin-bottom: 40px;
}

.solicitud {
	margin-top: 25px;
	margin-bottom: 40px;
}

.btn-neurofeedback {
	width: 100%;
}

#aplicaciones {
	font-size: 16px;
	color: #0db26b;
}

#aplicaciones:hover {
	text-decoration: none;
}

.title-neurofeedback {
	color: #0DB26B;
}

.text-justify {
	color: #605E5E;
}