.container-fluid {
	
	padding: 0;
}

/* HEADER */
.titles  {
	font-family: 'Raleway', sans-serif;
	color : #605E5E;
}
.fa-map-marker {
	color: #0db26b;

} 

header {
	background-color: #f2f2f2;
	padding-top: 10px;
}

.number {
	color:#0db26b;
	font-size: 26px;
	font-family: 'Raleway', sans-serif;

}

/* NAVBAR */
.navbar-light {
	background-color: white;
	padding: 0px;

}

li {
	margin-left: 35px;
}
a {
	font-size: 18px;
}

/* JUMBOTRON */
.jumbotron {
	background-color: #72cba3;
	color: white;
	padding: 30px;
}

/* FOOTER */ 
footer {
	background-color: #72cba3;
	padding: 2%;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
}

.telefono {
	font-size: 150%;
}

.contenedor-derecho {
	padding-top: 1%;
}

.facebook:hover {
	text-decoration: none;
	color: #F2F2F2;
}

.facebook {
	text-decoration: none;
	color: white;
}