.container-fluid {
	
	padding: 0;
}

/* HEADER */
.titles  {
	font: normal normal normal 15px/1.4em raleway,sans-serif;
	color : #605E5E;
}


header {
	background-color: #f2f2f2;
	padding: 10px;
}

.number {
	color:#0db26b;
	font-size: 26px;
}

/* NAVBAR */
.navbar-light {
	background-color: white;
	padding: 0px;

}

li {
	margin-left: 35px;
}
a {
	font-size: 22px;
}

/* JUMBOTRON */
.jumbotron {
	background-color: #72cba3;
	color: white;
	padding: 30px;
}

/* FOOTER */ 
footer {
	background-color: #0DB26B;
	padding: 2%;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
}

.telefono {
	font-size: 150%;
}

.contenedor-derecho {
	padding-top: 1%;
}

.facebook:hover {
	text-decoration: none;
	color: #F2F2F2;
}

.facebook {
	text-decoration: none;
	color: white;
}

body {
	font-family: 'Raleway', sans-serif;
}

.nosotros-title	{
	color: #0DB26B;
}

#second-title {
	margin-top: 40px;
	margin-bottom: 60px;
}

.img-nosotros {
	margin-bottom: 20px;
}

.descriptions {
	margin-bottom: 40px;
}