body {
	font-family: 'Raleway', sans-serif;
}

.nosotros-title	{
	color: #0DB26B;
}

#second-title {
	margin-top: 40px;
	margin-bottom: 60px;
}

.img-nosotros {
	margin-bottom: 20px;
}

.descriptions {
	margin-bottom: 40px;
}

.text-justify {
	color: #605E5E;
}

.jumbotron {
	background-color: #72cba3;
	
	padding: 25px;
}