* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-height: 68vh;
  position: relative;
}

.animate-left{
  position: relative;
  animation: animateleft 0.4s
}

@keyframes animateleft{
  from{ left:-300px; 
        opacity:0 } 
  to{ left:0 ;
      opacity:1}
}

img {
  width: 98.78vw;
  height: 100vh;
}

.boxes {
  background-color: rgba(11,145,87,.7);
  margin: 5px;
  padding: 10px;
  height: 175px;
}

body {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  background-color: rgb(13,176,106);
}

.col-md-4 {

}