.title {
	color:#0db26b;
}

.text {
	color: #A0A09F;
	font: normal normal normal 15px/1.4em raleway,sans-serif;
}

.second-text {
	color: #605E5E;
	font: normal normal normal 20px/1.4em raleway,sans-serif;
	font-size: 16px;
}

.jumbotron {
	background-color: #72cba3;
}